@font-face {
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 700;
    src: local('Spoqa Han Sans Neo Bold'),
    url('./font/SpoqaHanSansNeo-Bold.woff2') format('woff2'),
    url('./font/SpoqaHanSansNeo-Bold.woff') format('woff'),
    url('./font/SpoqaHanSansNeo-Bold.ttf') format('truetype');
}


@font-face {
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 500;
    src: local('Spoqa Han Sans Neo Medium'),
    url('./font/SpoqaHanSansNeo-Medium.woff2') format('woff2'),
    url('./font/SpoqaHanSansNeo-Medium.woff') format('woff'),
    url('./font/SpoqaHanSansNeo-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 400;
    src: local('Spoqa Han Sans Neo Regular'),
    url('./font/SpoqaHanSansNeo-Regular.woff2') format('woff2'),
    url('./font/SpoqaHanSansNeo-Regular.woff') format('woff'),
    url('./font/SpoqaHanSansNeo-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 300;
    src: local('Spoqa Han Sans Neo Light'),
    url('./font/SpoqaHanSansNeo-Light.woff2') format('woff2'),
    url('./font/SpoqaHanSansNeo-Light.woff') format('woff'),
    url('./font/SpoqaHanSansNeo-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 100;
    src: local('Spoqa Han Sans Neo Thin'),
    url('./font/SpoqaHanSansNeo-Thin.woff2') format('woff2'),
    url('./font/SpoqaHanSansNeo-Thin.woff') format('woff'),
    url('./font/SpoqaHanSansNeo-Thin.ttf') format('truetype');
}

* { font-family: 'Spoqa Han Sans Neo', 'sans-serif'; }

html, body { 
    width: 100%;
    height: 100%;
}

a { 
	text-decoration:none; 
	color:#434343; 
}

.login-wrapper{
    width: 400px;
    height: 350px;
    padding: 40px;
    box-sizing: border-box;
    border: 1px solid #ebebeb;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-wrapper > h2{
    font-size: 24px;
    color: #249d6a;
    margin-bottom: 20px;
}
#login-form > input, #login-form > button{
    width: 100%;
    height: 48px;
    padding: 0 10px;
    box-sizing: border-box;
    margin-bottom: 16px;
    border-radius: 6px;
    background-color: #F8F8F8;
    border: 1px solid #ebebeb;
}
#login-form > input::placeholder{
    color: #D2D2D2;
}
#login-form > button{
    color: #fff;
    font-size: 16px;
    background-color: #249d6a;
    margin-top: 20px;
    cursor: pointer;
}

#login-form > input[type="checkbox"]{
    display: none;
}
#login-form > label{
    color: #999999;
}
#login-form input[type="checkbox"] + label{
    cursor: pointer;
    padding-left: 26px;
    background-repeat: no-repeat;
    background-size: contain;
}
#login-form input[type="checkbox"]:checked + label{
    background-repeat: no-repeat;
    background-size: contain;
}

.container {
    padding-top: 140px;
}

.board-container, .board-btn-group, .comment-container {
    max-width: 900px;
    margin: 0 auto;
}

.board-container .table {
    color: #ddd;
    border-top: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
}

.board-container .table tr {
    height: 70px;
}

.board-container .table tr td, .table tr th {
    vertical-align: middle;
    color:#434343;
}

.ta-left {
    text-align: left;
}

.ta-right {
    text-align: right;
}

.mt-10 {
    margin-top: 10px;
}

.board-title {
    background-color: #f5f5f5;
    padding: 25px;
    text-align: center;
    border-top: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
}

.board-title span {
    font-weight: bold;
    font-size: 18px;
}

.board-info, .board-file {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    color: #979797;
    font-size: 13px;
    border-bottom: 2px solid #ddd;
    line-height: 21px;
}

.board-info-list {
    display : flex;
}

.board-info-list div:first-child {
    padding: 0 15px 0 0;
    border: none;
}

.board-info-list div:last-child {
    padding: 0 0 0 15px;
    border: none;
}

.board-info-list div {
    padding: 0px 15px;
    border-left: 2px solid #ddd;
    border-right: 2px solid #ddd;
}

.board-info .board-clipboard {
    cursor: pointer;
    position: relative;
}

.board-file {
    justify-content: flex-start;
    gap: 15px;
}

.board-file a {
    color : #979797;
}

.board-content {
    padding: 25px 15px;
    border-bottom: 2px solid #ddd;
    min-height: 300px;
}

.board-btn-group {
    display: flex;
    justify-content: flex-end;
    gap : 10px;
}

.board-write th {
    text-align: center;
    vertical-align: middle;
}

.board-write textarea {
    height: 400px;
}

.board-write-btn-group {
    text-align: right;
    padding: 8px;
}

.board-write-btn-group button {
    font-size: 13px;
    padding: 10px 30px;
}

.prtooltip {
    background-color: #007bff;
    border: 1px solid #007bff;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    font-size: 12px;
    word-break: keep-all;
    position: absolute;
    z-index: 999;
    top: -50px;
    max-width: 150px;
    width: max-content;
    transition: 0.5s;
    opacity: 0;
    display: none;
}

.prtooltip::after {
    content: "";
    position: absolute;
    border-width: 8px;
    border-style: solid;
    top: 100%;
    left: 25%;
    margin-left: -8px;
    border-color: #007bff;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
}
.percent {
    position: absolute;
    min-width: 300px;
    max-height: 300px;
    z-index: 9999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
}

.percent svg {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 210px;
    height: 210px;
    transform: rotate(-90deg) translate(50%, -50%);
}

.percent svg circle {
    width: 100%;
    height: 100%;
    fill: none;
    stroke: #f0f0f0;
    stroke-width: 18;
    stroke-linecap: round;
}

.percent svg circle:last-of-type {
    stroke-dasharray: 312.5px;
    stroke-dashoffset: calc(312.5px - (312.5px * var(--percent)) / 100);
    stroke: #3498db; 
}

.percent .number {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
}

.percent .number h3 {
    font-weight: 200;
    font-size: 3.5rem;
}

.percent .number h3 span {
    font-size: 2rem;
}

.board-file-list {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
}

.board-form-files {
    text-align: left;
    color: #3285ff;
    font-size: 13px;
}

.board-form-files ul {
    list-style: none !important;
    padding: 0 !important;
}

.board-form-files ul li span {
    cursor: pointer;
}

.comment-title {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    align-items: baseline;
}

.comment-container .comment-time {
    font-size: 13px;
    color: #979797;
}

.comment-container .comment-footer {
    display: flex;
    gap: 15px;
    margin-top: 5px;
}

.comment-container .comment-show-btn {
    font-size: 13px;
    color: #4792ff;
}

.comment-container .comment-root {
    padding: 1.5rem 0rem 2.5rem 0rem !important;
    border-bottom: 1px solid #ddd;
}

.comment-container .comment-root .comment-child:last-child {
    border-bottom: none;
}

.comment-container .comment-child {
    padding: 1.5rem 0 !important;
    border-bottom: 1px dashed #ddd;
}

.enroll_btn {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.chat_list {
    border-bottom: 1px solid #c4c4c4;
    margin: 0;
    padding: 18px 0px 10px;
}

.chat_people {
    overflow: hidden;
    clear: both;
}

.chat_img {
    float: left;
    width: 11%;
    max-width: 40px;
}

.chat_ib {
    float: left;
    padding: 0 0 0 15px;
    width: 100%;
    max-width: calc(100% - 40px);
    position: relative;
}

.chat_ib h5 {
    font-size: 15px;
    color: #464646;
    margin: 0 0 8px 0;
}

.chat_ib h5 span {
    font-size: 13px;
    float: right;
}

.chat_ib p {
    font-size: 14px;
    color: #989898;
    margin: auto;
}

.incoming_msg {
    display: flex;
}

.incoming_msg_img {
    display: inline-block;
    width: 6%;
    max-width: 40px;
    min-width: 30px;
    position: relative;
  }
.incoming_msg_img div {
    position: absolute;
    top: 20%;
    width: 100%;
}

.incoming_msg_img div::after {
    content: "";
  display: block;
  padding-bottom: 100%;
}

  .received_msg {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 65%;
   }
   .received_withd_msg p {
    background: #ebebeb none repeat scroll 0 0;
    color: #646464;
    font-size: 14px;
    margin: 0;
    width: 100%;
  }
  .time_date {
    color: #747474;
    font-size: 8px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: flex-end;
  }
  .received_msg .time_date {
    align-items: baseline !important;
  }
  .received_withd_msg { 
    width: 100%;
    display: flex;
    gap: 7px;
}
  
   .sent_msg p {
    background: #05728f none repeat scroll 0 0;
    font-size: 14px;
    margin: 0; color:#fff;
    max-width: 47%;
  }
  .outgoing_msg{ overflow:hidden; margin:26px 0 26px;}
  .sent_msg {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    gap: 7px;
  }

  .msg_box {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 10px 12px;
  }

  .outgoing_msg .msg_box {
    border-bottom-right-radius: 0px !important;
  }

  .incoming_msg .msg_box {
    border-bottom-left-radius: 0px !important;
  }

  .input_msg_write textarea {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #4c4c4c;
    font-size: 15px;
    height: 40px;
    width: 100%;
    resize: none;
    padding: 9px 5px;
    overflow: hidden;
  }
  
.type_msg {
    border-top: 1px solid #c4c4c4;
    position: fixed;
    bottom: 0px;
    width: 100%;
    background: #fbfbfb;
    left: 0px;
}
  .msg_send_btn {
    background: #05728f none repeat scroll 0 0;
    border: medium none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    height: 33px;
    position: absolute;
    right: 5px;
    bottom: 7px;
    width: 33px;
  }
  .messaging { padding: 0 0 50px 0;}

.chat-container {
    padding: 0px 5px 55px 5px;
}

.chat-profile {
    width: 40px;
    height: 40px;
}

.chat-back-icon {
    line-height: 0;
    vertical-align: baseline;
    position: absolute;
    left: 5px;
    padding-top: 0px;
    top: 50%;
    margin-top: -10px;
    font-weight: bold;
    cursor: pointer;
}

.chat_ib .no_read_cnt {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #f66;
    color: #fff;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 1.6;
    border-radius: 50%;
    font-size: 12px;
    font-weight: 400;
}

.msg_enter_div {
    width: 70%;
    margin: 0 auto;
}

.msg_enter {
    background: #ebebeb none repeat scroll 0 0;
    padding: 5px;
    font-size: 12px;
    text-align: center;
}

.msg_history p {
    white-space: break-spaces;
}


.page-nav {
    background-color : #249d6a;
    min-height: 80px;
}
.page-header {
    max-width: 1200px;
}
.page-header {
    font-size: 20px !important;
    font-weight: bold !important;
}
.nav-font {
    font-size: 20px;
    font-weight: bold;
    color: #ededed;
    text-decoration: none !important;
}
.menuBar {
    display: none;
}
.pc-menu-list {
    display: inline-block;
    margin-left: 100px;
}

.menu-box {
    display: inline-block;
    margin: 0px 23px;
    color: #ededed;
}

.menu-hover:hover {
    color: #70ffcf !important;
    cursor: pointer;
}



.menu-icon {
    font-size: 33px;
}

.menu-description {
    margin: 0;
}

.menu-box .active {
    color: #70ffcf !important;
}

.sub-header {
    display: none;
}

.page-sub-header {
    font-size: 14px !important;
    font-weight: bold !important;
    max-width: 1200px;
}

.page-sub-header ul {
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: flex-start;
}

.page-sub-header ul img {
    vertical-align: bottom;
}

.page-sub-header a, .page-sub-header span {
    vertical-align: middle;
    color: #ededed;
}

.page-sub-header .sub-header-arrow {
    padding: 0px 10px;
}

.pc-sub-nav {
    background-color: rgb(36 157 106 / 76%); 
    position : fixed; 
    width : 100%; 
    top : 80px; 
    color:#ededed;
}

.my-profile {
    padding: 0 0 1rem 0 !important;
    border-bottom: 1px solid #ededed;
    margin-bottom: 0;
}

.friend-list-div {
    max-height: max-content;
    overflow: hidden;
}

.friend-list {
    padding: 0 !important;
    border-bottom: 1px solid #ededed;
    margin-bottom: 0;
}

.friend-list li {
    padding: 10px 0;
}

.my-profile-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
}

.my-profile-row .add-friend {
    font-size: 25px;
    color: #838383;
    cursor: pointer;
}

.my-profile li, .friend-list li {
    list-style: none;
}

.friend-row {
    display: flex;
    gap: 13px;
    align-items: center;
}

.profile-div {
    background: rgb(36 157 106 / 76%);
    border-radius: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.profile-div img {
    width: 100%;
}

.my-profile-img {
    width: 65px;
    height: 65px;
}

.friend-img {
    width: 50px;
    height: 50px;
}
.profile-txt {
    font-weight: bold;
}

.profile-txt p, .friend-txt p {
    font-size: 10px;
    font-weight: 400;
    color: #adadad;
    margin: 0;
}

.friend-txt {
    font-size: 15px;
}

.friend-cnt {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 1rem 10px;
    border-bottom: 1px solid #ededed;
}

.friend-cnt i {
    cursor: pointer;
}

.friend-cnt p {
    margin: 0;
    padding: 0;
    font-size: 13px;
}

.friend-list li {
    cursor: pointer;
}

.friend-list li:hover {
    background-color: #ededed4a;
}

.popup-content {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50%;
    max-width: 820px;
    min-width: 600px;
    height: 70%;
    max-height: 950px;
    min-height: 800px;
    background-color: white;
    z-index: 100000;
    transform: translate(-50%, -50%);
}

.popup-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #373737;
    z-index: 8000;
    opacity: 0.5;
}

.popup-close-btn {
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
}

.popup-body {
    width: 100%;
    height: 100%;
}

.popup-profile {
    background-color : rgb(134 169 221 / 74%);
    width: 100%;
    height: 100%;
    background: url(https://www.freecodecamp.org/news/content/images/2021/07/Screenshot-2021-07-21-at-9.18.15-AM.png) no-repeat center;
    background-size: cover;
}

.popup-profile-info {
    display: block;
    text-align: center;
}

.popup-img {
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.popup-profile-info p {
    color: #e9e9e9;
    font-weight: bold;
    font-size: 17px;
}

.popup-profile-footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    border-top: 1px solid #e3e3e3;
}

.popup-profile-menu {
    text-align: center;
    margin: 10px;
    cursor: pointer;
}

.popup-profile-menu i {
    color: #e9e9e9;
    font-size: 35px;
    display: block;
}

.popup-profile-footer ul {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
    gap : 20px;
}

.popup-profile-menu a {
    color: #e9e9e9;
    font-size: 13px;
}

.search{
    background-color: #fff;
    border-radius: 40px;
    padding: 0;
    width: 100%;
    }

.search-flex {
    width: 100%;
    display: flex;
    border-bottom: 1px solid #ededed;
}
.search_input{
    flex: 1;
    border: 0;
    outline: 0;
    background: none;
    margin-top: 5px;
    line-height: 40px;
    padding: 0 10px;
}
.search_icon{
    height: 50px;
    width: 50px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.search_icon i {
    font-size: 20px;
}

.popup-title {
    height: 50px;
    padding: 15px 0;
}

.popup-title span {
    font-size: 17px;
    font-weight: bold;
    color: #5d5d5d;
}

.search-friend-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px 15px;
}

.search-friend-list {
    flex: 1;
    position: relative;
}

.search-friend-list .empty-search {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    font-weight: bold;
    color: #5d5d5d;
}

.search-friend-total {
    padding: 15px;
    border-bottom: 1px solid #ededed;
}

.search-friend-total span {
    font-size: 14px;
    font-weight: bold;
    color: #5d5d5d;
    display: block;
}

.friend-enter-active {
    animation: friendSliderUp 0.3s forwards;
}

.friend-leave-active {
    animation: friendSliderDown 0.3s forwards;
}

.friend-list-not-found {
    padding: 100px;
}

.friend-list-not-found p {
    text-align: center;
    font-size: 15px;
    color: #5d5d5d;
    font-weight: bold;
}

.member-pic-div {
    width: 120px;
    height: 120px;
    margin: 0 auto;
    position: relative;
}

.member-pic-div i {
    position: absolute;
    top: 0;
    right: 1px;
    z-index: 9;
    cursor: pointer;
}

.member-pic {
    width: 120px;
    height: 120px;
    cursor: pointer;
}


@media (max-width: 820px) {
    .container {
        padding-top: 60px;
    }
    .login-wrapper {
        border: none;
    }
    .page-nav {
        min-height: auto;
    }
    .nav-font {
        font-size: 16px;
    }
    .menuBar {
        display: block;
        width: 100%;
        height: 55px;
        position: fixed;
        bottom: 0px;
        background-color: #249d6a;
    }
    .mobile-menu-list {
        display: flex;
        justify-content: center;
        margin: 0;
    }
    
    .menu-box {
        max-height: 100%;
        position: relative;
        flex: 1;
        text-align: center;
        display: block;
    }
    
    .menu-btn-div {
        display: inline-block;
        cursor: pointer;
    }

    .pc-menu-list {
        display: none;
    }

    .dropdown-menu {
        right: -12px;
        left: auto !important;
    }

    .menu-description {
        font-size: 8px;
        font-weight: 500;
        position: absolute;
        bottom: -5px;
        left: 50%;
        transform: translate(-50%);
    }

    .sub-header {
        display: block;
    }

    .mobile-sub-nav {
        background-color: #249d6a; 
        position : fixed; 
        width : 100%; 
        top : 0;
        z-index: 2000; 
        color:#ededed;
        display: block;
    }

    .page-sub-header {
        justify-content: center !important;
        font-size: 20px !important;
    }

    .back-icon {
        position: absolute;
        left: 5px;
        padding-top: 0px;
        top: 50%;
        font-weight: bold;
        cursor: pointer;
        transform: translate(0px, -50%);
        padding: 0px;
        margin: 0px;
    }

    .page-sub-header a, .page-sub-header span {
        vertical-align: text-bottom;
    }

    .pc-sub-nav {
        display: none;
    }

    .popup-content {
        width: 100%;
        max-width: none;
        height: 100%;
        max-height: none;
        top: 0px;
        left: 0px;
        transform: none;
        min-width: 100%;
        min-height: 100%;
    }

    .popup-background {
        display: none;
    }

    .slide-enter-active {
        animation: sliderUp 0.3s forwards;
    }

    .slide-leave-active {
        animation: sliderDown 0.3s forwards;
    }
}

@keyframes sliderUp {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes sliderDown {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(100%);
    }
}

@keyframes friendSliderUp {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes friendSliderDown {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(-100%);
    }
}
