<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zipsoft.board.BoardMapper">
	
	<select id="getCommentList" parameterType="long" resultType="boardCommentDto">
		WITH RECURSIVE T3 AS ( SELECT T1.ID
									  ,T1.BOARD_ID
									  ,T1.COMMENT
									  ,T1.PARENT_ID
									  ,1 AS DEPTH
									  ,CONVERT(LPAD(CONVERT(T1.ID, CHAR(4)), 4, '0'), CHAR(100)) AS SEQ_CHAR
									  ,T1.REG_ID
									  ,T1.REG_DT
									  ,T1.ID AS ROOT_ID
								 FROM tb_board_comment T1 
								WHERE PARENT_ID = 0
								  AND BOARD_ID = #{id}
   							    UNION ALL
    						   SELECT T2.ID
    						          ,T2.BOARD_ID
    						          ,T2.COMMENT
    						          ,T2.PARENT_ID
    						          ,T.DEPTH + 1 AS DEPTH
    						          ,CONCAT(T.SEQ_CHAR, LPAD(CONVERT(T2.ID, CHAR(4)), 4, '0')) AS SEQ_CHAR
    						          ,T2.REG_ID
    						          ,T2.REG_DT
    						          ,(CASE WHEN T.DEPTH = 0 THEN T.ID ELSE T.ROOT_ID END) AS ROOT_ID
    						     FROM tb_board_comment T2 
								INNER JOIN T3 T 
								   ON T.ID = T2.PARENT_ID
								WHERE T2.BOARD_ID = #{id} )
		SELECT T.ID
			   ,T.BOARD_ID
			   ,T.COMMENT
			   ,T.PARENT_ID
			   ,T.DEPTH
			   ,T.REG_ID
			   ,T.REG_DT
			   ,T.ROOT_ID
			   ,TU.USER_NAME
		  FROM T3 T
		 INNER JOIN tb_user TU
		    ON T.REG_ID = TU.ID
		  ORDER BY SEQ_CHAR
	</select>
	
	
</mapper>
